<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wedevgroup.weflyhelper">

    <permission
        android:name="com.truiton.supportmapfragment.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--Check if app is running-->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- Background task -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Store data -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--Do not kill my service on Screen Off-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".utils.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- this provider  for open file If your targetSdkVersion is 24 or higher -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />

        <activity
            android:name=".activity.SplashScreensActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.LoginForm">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.NetworkSchedulerService"
            android:exported="true"
            android:launchMode="singleTask"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver android:name=".receiver.ConnectivityReceiver23Down">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!--User location-->
        <service
            android:name=".service.LocationProviderService"
            android:enabled="true"
            android:launchMode="singleTask"/>

        <!--User Auto send-->
        <service
            android:name=".service.PostParcelleService"
            android:launchMode="singleTask"
            android:enabled="true" />

        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.LoginForm" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MainMenu" />
        <activity
            android:name=".activity.CreateParcelleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MainMenu" />
        <activity
            android:name=".activity.CreateParcelleFormActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.MainMenu"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MainMenu" />
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MainMenu" />
        <activity
            android:name=".activity.HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MainMenu" />
        <activity
            android:name=".activity.ProfileActivity"
            android:theme="@style/AppTheme.MainMenu" />
        <activity
            android:name=".activity.LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.LoginForm"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"/>
    </application>

</manifest>